{# <div class="profil m-20">
    <a class="d-flex align-items-center " href="{{path('aboutme')}}">
        <img src="{{asset('images/profil.jpg')}}" alt="photo_de_profil">
        <h1 class="m-10">Maxime <br> Larquetoux</h1>
    </a>
</div> #}

<nav class="header">
    <div id="menu">
        <div class="profil">
            <a class="d-flex align-items-center" href="{{path('profil')}}">
                <img src="images/profil.jpg" alt="photo_de_profil">
                <h1 class="m-10">Maxime Larquetoux</h1>
            </a>
        </div>
        <div class="navbar">
            <a href="{{path('home')}}">
                <i class="fa-solid fa-house m-10" style="color: #ffffff;"></i>
                Accueil
            </a>
            <a href="{{path('portfolio')}}">
                <i class="fa-regular fa-folder-open m-10" style="color: #ffffff;"></i>
                Portfolio
            </a>
            <a href="{{path('experience')}}">
                <i class="fa-solid fa-briefcase m-10" style="color: #f4f5f6;"></i>
                Experiences
            </a>
            <a href="#">
                <i class="fa-solid fa-book m-10" style="color: #ffffff;"></i>
                Compétences
            </a>
            <a href="{{path('profil')}}">
                <i class="fa-solid fa-user m-10" style="color: #ffffff;"></i>
                A propos
            </a>
        </div>
    </div>
    <i id="CmdMenu" title="Afficher/Masquer le Menu" class="fa-solid fa-bars"></i>
    <i id="CmdCroix" class="fa-solid fa-xmark" style="color: #ffffff;"></i>
    <div id="slidebar">
        <a href="{{path('home')}}">
            <i class="fa-solid fa-house m-10" style="color: #ffffff;"></i>
            Accueil
        </a>
        <a href="{{path('portfolio')}}">
            <i class="fa-regular fa-folder-open m-10" style="color: #ffffff;"></i>
            Portfolio
        </a>
        <a href="{{path('experience')}}">
            <i class="fa-solid fa-briefcase m-10" style="color: #f4f5f6;"></i>
            Experiences
        </a>
        <a href="#">
            <i class="fa-solid fa-book m-10" style="color: #ffffff;"></i>
            Compétences
        </a>
        <a href="{{path('profil')}}">
            <i class="fa-solid fa-user m-10" style="color: #ffffff;"></i>
            A propos
        </a>
    </div>
</nav>