{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="css/project.css">
{% endblock stylesheets %}
{% block javascripts %}
{{ parent() }}
<script defer src="js/slide.js"></script>
{% endblock javascripts %}

{% block body %}
<style>
    body {
        background: url("{{projects.img1}}");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100vh contain;
    }
</style>
<div class="project d-flex flex-column justify-content-center">
    <div class="ProjectName">
    </div>
    <div class=" content">
        <article class="resume">
            <h2>{{projects.title}}</h2>
            <div class="block">
                {{projects.resume}}
            </div>
        </article>

        <article class="missions">
            <h2>Missions et Conclusion du projet:</h2>
            <div class="block">
                {{projects.assignments}}
            </div>
        </article>
        <article class="technology">
            <h2>Technologies Utilisées</h2>
            <div class="logo">
                <img src="{{projects.technology}}" alt="image technologie">
            </div>
        </article>
        <article class="picture">
            <h2>Photo du projet</h2>
            <div id="slider" class="other_picture">
                <img src="{{projects.img1}}" alt="image1">
                <img src="{{projects.img2}}" alt="image2">
                <img src="{{projects.img3}}" alt="image3">
                <img src="{{projects.img4}}" alt="image4">
            </div>
        </article>
    </div>
</div>
{% endblock %}