{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('css/project.css')}}">
{% endblock stylesheets %}
{% block javascripts %}
<script src="{{asset('js/index.js')}}"></script>
{% endblock javascripts %}

{% block body %}
<style>
    body {
        background: url("{{projects.img1}}");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100vh contain;
    }
</style>
<div class="project d-flex flex-column justify-content-center">
    <div class="ProjectName">
    </div>
    <div class="content">
        <div class="resume">
            <h2>{{projects.title}}</h2>
            <div class="block">
                {{projects.resume}}
            </div>
        </div>

        <div class="missions">
            <h2>Missions et Conclusion du projet:</h2>
            <div class="block">
                {{projects.assignments}}
            </div>
        </div>
        <div class="technology">
            <h2>Technologies Utilisées</h2>
            <div class="logo">
                <img src="{{projects.technology}}" alt="image technologie" width="1000px">
            </div>
        </div>
        <div class="picture">
            <h2>Photo du projet</h2>
            <div class="other_picture">
                <img src="{{projects.img1}}" alt="image1" width="500px">
                <img src="{{projects.img2}}" alt="image2" width="500px">
                <img src="{{projects.img3}}" alt="image3" width="500px">
                <img src="{{projects.img4}}" alt="image4" width="500px">
            </div>
        </div>
    </div>
</div>
{% endblock %}